body, html {
  font-family: Candara, sans-serif;
  color: #fbbf24;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  flex: 1;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #040D1E;
  color: #fbbf24;
  padding: 20px 0; 
  text-transform: uppercase;
  letter-spacing: 3px;
  z-index: 1000;
  box-sizing: border-box; 
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin: 0 20px; 
}

li a:hover {
  color: #6d480b;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end; 
  margin: 0;
  padding-right: 45px; 
}

nav ul li a {
  color: #fbbf24;
  text-decoration: none;
  font-weight: bold;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 20rem;
}

footer {
  background-color: #102934bd;
  color: #fbbf24;
  text-align: center;
  padding: 15px;
  margin-top: auto;
  width: 100%;
}

.bgimage {
  background-repeat:no-repeat; 
  background-size:cover; 
  background-attachment:fixed; 
  margin-top:25px;
}

.content {
  width: 50%;
  text-align: left;
  margin:10px
}

.content-container {
  display: flex;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  margin-bottom: 20px;
}

.left-column {
  flex: 1;
}

.right-column {
  flex: 2;
  padding-left: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10rem;
}

.text, .description {
  font-family: Candara, sans-serif; 
  color: #fbbf24;
  margin: 0;
  padding: 0;
}

.description {
  padding: 0;
  max-width: 800px;
  line-height: 1.5;
  margin: 20px auto 0 auto;
}

.cover {
  width: 400px; 
  height: 400px; 
  object-fit: cover;
  border-radius: 15%;
}

.resume-button {
  font-family: Candara, sans-serif;
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  color: #f9ebc8;
  background-color: #6d480b;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.resume-button:hover {
  background-color: #4a2d08;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}

.social-icons a:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.social-icons a img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-top: 2rem;
}

.project-grid a:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

/* Project Item */
.project-item {
  background-color: #2d3748;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 20rem;
}

.project-image {
  width: 4rem;
  height: 4rem;
  border-radius: 15%;
}

.project-name {
  font-family: Candara, sans-serif; 
  font-size: 1.125rem;
  font-weight: 600;
  color: #fbbf24;
}

/* For each project */
.back-button {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  font-family: Candara, sans-serif; 
  
  font-size: 16px;
  color: #fbbf24;
  font-weight: bold;
  padding:20px;
  letter-spacing: 3px;
  background: none;
  text-decoration: none;
}

.back-button a:hover {
  color:#6d480b;
}

.project-title {
  max-width: 800px;
  display: flex;
  justify-content: center;
}

.imgdisplay {
  max-width: 800px;
  max-width : 80%;
  height: auto;
  display: block;
  align-self : center;
  margin: 30px auto;
}

/* Profile Section */
.about {
  display: flexbox;
  flex-direction: row;
}

.profile-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  align-content : right;
}

.name {
  font-size: 2rem;
  font-weight: 700;
  color: #fbbf24;
  align-items: left;
}

.degree {
  font-size: 1.25rem;
  color: #fbbf24;
  margin-bottom: 1.5rem;
  align-items: left;
}

.paragraph-container {
  display: flex;
  text-align: left;
  margin: 20px auto;
  line-height: 1.5;
  font-family: Candara, sans-serif;
  color: #fbbf24;
  max-width: 70%;
  align-self: center;
}

/* Contact Section */
.contact-section {
  text-align: center;
  padding: 50px;
}

.contact-section h1 {
  font-size: 2rem;
}

div.contact-details{
  margin-top:30px
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  line-height: 1.5;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

/*_______________________________________________________*/
@media only screen and (max-width: 875px) {

  .column {
    flex-direction: column-reverse ;
  }

  .content {
    width: 90%;
    margin: 10px auto;
  }

  .cover {
    max-width: 70%; 
    height: auto; 
    object-fit: cover;
    border-radius: 50%;
    margin: 1rem auto 0 auto; 
    display: block; 
  }

  .content-container {
    flex-direction: column;
    margin-bottom: 3rem;
  }

  .right-column {
    padding-left: 0;
  }
  
  .description {
    margin: 40px
  }
}
/*_______________________________________________________*/

@media only screen and (max-width: 810px) {

  .project-grid {
    grid-template-columns: 1fr;
    align-items: center;
    padding: 10px;
    max-width: 80%; 
    margin: 0 auto; 
  }
}

/*_______________________________________________________*/
@media only screen and (max-width: 775px) {
  
  .back-button {
    margin-top: 25px;
  }
}

/*_______________________________________________________*/
@media only screen and (max-width: 710px) {

  header {
    display: flex;
    padding: 14px 20px;
    justify-content: flex-end;
  }

  nav ul {
    justify-content: flex-end; 
    padding-right: 20px; 
    flex-wrap: wrap;  
  }

  li {
    font-size: 12px; 
    margin: 0 5px; 
  }

  p{
    font-size: 12px ; 
  }

  .back-button {
    font-size: 12px; 
    margin-top: 0;
    padding-top: 15px;
    padding-right:0;
  }
  
  h1.text{
    font-size: 40px !important;
  }

  h2.text{
    font-size: 26px !important;
  }

  h3.text{
    font-size: 70px !important;
  }
  
  p.text {
    font-size:15px !important;
  }

  .resume-button {
    font-size:15px
  }

  div.content{
    max-width: 80%
  }

  .cover {
    max-width: 50%; 
  }

  .title {
    margin-top: 0rem;
  }

  .paragraph-container {
    margin-right: 20px;
    margin-left: 20px;
  }

  .social-icons {
    flex-direction: row;
    gap: 10px;
  }

  .contact-section {
    padding: 50px;
  }

  .contact-details {
    width: 100%;
  }

  .profile-section {
    flex-direction: column;
    align-items: center;
  }

  .profile-image {
    margin-bottom: 1rem;
  }

  .name, .degree {
    text-align: center;
  }

  .project-item {
    width: 100%;
  }

  .imgdisplay {
    max-width: 80%;
    height: auto;
  }

  .social-icons a img, .contact-section .icon img {
    width: 30px;
    height: 30px;
  }
}

/*_______________________________________________________*/
@media only screen and (max-width: 510px) {

  .back-button {
    margin-top: 20px;
  }

  h1.text{
    font-size: 20px !important;
  }

  h2.text{
    font-size: 16px !important;
  }

  h3.text{
    font-size: 40px !important;
  }

  img.profile-image{
    max-width:80% !important;
    height:auto;
  }

  h1.name {
    font-size: 1.5rem;
  }

  h2.degree {
    font-size: 1.05rem;
  }

  p.paragraph-container{
    font-size: 15px !important;
    margin: 20px auto;
    
  }

  span.text{
    font-size:15px !important;
  }

  p.description {
    font-size: 18px !important;
  }

  .social-icons a img, .contact-section .icon img {
    width: 20px;
    height: 20px;
  } 

  div.social-icons {
    margin-bottom: 5px;
  }
  
  
}

/*_______________________________________________________*/
@media only screen and (max-width: 475px) {

  li {
    font-size: 10px ; 
    margin: 0 3px; 
  }

  p{
    font-size: 10px ; 
  }

  .back-button {
    font-size: 10px; 
  }

  span.project-name {
    font-size: 1rem !important;
  }

  h1.project-title {
    font-size:25px;
  }

  h2.project-title {
    font-size:20px;
  }

  p.description {
    font-size: 15px !important;
  }

  h1.name {
    font-size: 1.25rem;
  }

  h2.degree {
    font-size: 1rem;
  }

  p.paragraph-container{
    font-size: 12px !important;
  }
}

/*_______________________________________________________*/
@media only screen and (max-width: 400px) {

  li {
    font-size: 9px ; 
    margin: 0 2px; 
  }

  p{
    font-size: 9px ; 
  }

  .back-button {
    font-size: 7px; 
  }
}

/*_______________________________________________________*/
@media only screen and (max-width: 375px) {

  ul {
    padding: 0 !important; 
  }

  
  div.social-icons {
    padding:0;
    margin:5px;
  }

  p{
    margin:0;
  }

  span.text{
    font-size:10px !important;
  }

  footer {
    padding: 0; /* Reduce padding for medium screens */
    min-height: 60px
  }
}

  /*_______________________________________________________*/
@media only screen and (max-width: 336px) {
  li {
    font-size: 7px;
  }
}